.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top :20px ;

  }
  
  .profile-section {
   
    padding: 20px;
    
    display: flex;
    align-items: center;
    width: 650px;
  }
  
  .profile-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .about-me {
    flex: 1;
  }
  
  .about-me h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .about-me p {
    margin: 5px 0;
  }
  
  .details {
    margin: 10px 0;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
 