.career {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
  margin-top: -30px;

  h2 {
    font-size: 24px;
    color: #a69eb0;
    margin-bottom: 40px;
  }

  .careerList {
    list-style: none;
    padding: 0;

    .careerItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #a69eb0; /* 구분선 추가 */

      &:last-child {
        border-bottom: none; /* 마지막 아이템에는 구분선 없음 */
      }

      .careerHeader {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        i {
          font-size: 2em;
          color: #a69eb0;
          margin-right: 10px;
          align-self: flex-start; /* 아이콘을 텍스트의 시작점에 맞추기 위해 추가 */
        }
      }

      .careerContent {
        text-align: left; /* 텍스트 정렬 */
        width: 100%;
      }

      .careerPeriod {
        font-size: 1.2em;
        font-weight: bold;
        color: #555;
      }

      .custom {
        width: 45px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px; /* 아이콘 크기 조정 */
      }

      .careerCompany {
        font-size: 1em;
        margin: 5px 0;
        color: #333;
      }

      .careerRoles {
        font-size: 1em;
        color: #777;
      }
    }
  }

  /* 반응형 미디어 쿼리 */
  @media (max-width: 768px) {
    .careerContent {
      text-align: left; /* 텍스트 가운데 정렬 */
    }

    .careerPeriod {
      font-size: 1em;
    }

    .careerCompany {
      font-size: 1em;
    }

    .careerRoles {
      font-size: 1em;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }

    .careerPeriod {
      font-size: 1em;
    }

    .careerCompany {
      font-size: 1em;
    }

    .careerRoles {
      font-size: 1em;
    }
  }
}
