.education {
  padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
}

.education h2 {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 20px;
}

.education-list {
  list-style: none;
  padding: 0;
}

.education-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.education-icon {
  font-size: 2em;
  color: #007bff;
  margin-right: 20px;
}

.education-content {
  flex: 1;
}

.education-year {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

.education-degree {
  font-size: 1.5em;
  margin: 5px 0;
  color: #333;
}

.education-school {
  font-size: 1.2em;
  margin: 5px 0;
  color: #666;
}

.education-description {
  font-size: 1em;
  color: #777;
}
