.project {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    font-size: 24px;
    color: #a69eb0;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  
  .project-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .project-text {
    flex: 1;
  }
  
  .project-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .project-text p {
    font-size: 16px;
  }
  
  .project-text ul {
    list-style: none;
    padding: 0;
  }
  
  .project-text ul li {
    margin: 5px 0;
  }
  
  .project-text a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #a69eb0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .project-text a:hover{
    background-color: #b8a8c2;
  }