.skills-section {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 20px;
}

.skills-section h2 {
  font-size: 24px;
  color: #a69eb0;
  margin-bottom: 40px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .skills-card {
    padding: 10px;
  }
  .skills-card img {
    max-width: 60px;
    margin-bottom: 10px;
  }
  .skills-card h3 {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
