.skills-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-card img {
  max-width: 100px;
  margin-bottom: 20px;
}

.skills-card:hover {
  transform: translateY(-10px);
}

.skills-card h3 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}